{%extends 'base.html'%}

{%block title%} Home {%endblock%}

{%block content%}

<div class="bg">
    <img src="{{url_for ('static', filename ='images/ronda_tree.png')}}" alt="bg">
</div>
<div class="logo">
    <h5><a href="">lets get Started</a></h5>
</div>
<div class="contain">
    <div class="connect">
        <h1 class="head1">
            Connect on Ronda 
        </h1>
        <div class="head1_txt">    
            Are you looking for a certain service to hire?<br>

            <br>
        
            cant find an artisan to do your work for you?<br>

            <br>
        
            Or are you service provider looking for a platform <br> 
            
            <br>
            
            to sell and advertise you service?<br>

            <br>

                Then connect on Ronda!!!!
        
        </div>    
    </div>



    <div class="get_served">

        <h3 class="head2">
            Get Served Just The Way You Like
        </h3>
        <div class="head2_txt">
            Select and specify how you want to be served <br>
            and by who. we are here whenever service rendering is considered,<br>
            your optimum satisfaction is our primary concern!!
        </div>
    </div>


    <div class="promote">

        <h3 class="head3">
            Promote and Market your Services and Skills
        </h3>
        <div class="head3_txt">
            Select and specify how you want to be served <br>
            and by who. we are here whenever service rendering is considered,<br>
            your optimum satisfaction is our primary concern!!
        </div>
    </div>

    
        
    <div class="register">

        <div class="start">
            <h1> So Let's Get Started! </h1>
        </div>    
           
            
       
        <div class="customer">
            <h3>Are you a customer</h5>

            <h5 class="cbtn"><a href="">Register Here</a></h5>
        </div>

        <div class="or">
            <h1>OR</h1>
        </div>


            

        <div class="service_provider">
            <h3>
                A Service Provider <br> 
                ready for Hire?
            </h3>
                    
        <h5 class="spbtn"> <a href="">Register Here</a> </h5>

                
    
        </div>
            
            <p class="fn"> if you wish to create a hybrid account <a href="">click here</a></p>   
         
        </div><br>
    </div>
</div>    
{%endblock%}