{%extends 'base.html'%}

{%block title%} Home {%endblock%}

{%block content%}

<div class="bg">
    <img src="{{url_for ('static', filename ='images/ronda_hbg.jpg')}}" alt="bg">
</div>

<h1> Home page </h1>
<div class="connect">
    <h1 class="con">
        Connect on Ronda 
    </h1>
    <p>
        Are you looking for a certain service to hire?
    </p>
    <p>
        cant find an artisan to do your work for you?
    </p>
    <p>
        Or are you service looking to sell and advertise you service?
    </p>
    <p>
        Then connect on Ronda!!!!
    </p>
</div>

{%endblock%}