{%extends 'base.html'%}

{%block title%} contact {%endblock%}

{%block content%}

<div class="loginbox">
<img src="avatar.png" alt="your picture">
<h1 class="login head">login</h1>
<form action="">
    <p>Username</p>
    <input type="text" name="" placeholder="enter your username">
    <p>password</p>
    <input type="password" name="" placeholder="enter your password">
    <input type="submit" name="" value="login">
    <a href="#">lost your password</a>
    <a href="#">don't have an account?</a>

</form>
</div>

{%endblock%}