
*{
    font-family: adelle, serif;
    font-style: normal;
    box-sizing: border-box;
    padding: 0%;
    padding: 0%;
}
header{
    margin: 0%;
    padding: 0;
    background-color: #4597F5 ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 73px;
    display: flex;
    align-items: center;

}
header * {
    display: flex;
    
}
.links{
    margin-left: 545px;
}
header li {
    font-size: 19px;
}

header li a {
    color: white;
    text-decoration: none;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px
}
header li a:hover {
    text-decoration: underline;
    color: yellow
}
nav > div > img{
    margin-left: 60px;
    border-radius: 10px;
}
body{
    font-family: adelle, serif;
    height: 125vh;
}
.button {
    background-color: #85E024;
    border-radius: 25px;
    height: 52px;
    padding: 17px;
    color: #fff;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.35);
}
.button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.35);
    background-color: #CFE0BC;
}

#first-button{
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.container{
    padding-left: 3em;
    margin-bottom: 0%;

}

footer{
    border:solid 1px rgb(2, 2, 25);
    background-color: rgb(2, 2, 25);
    width: 100%;
}
.template_content{
padding-top: 5em;
}
.logo{
    border: solid #85E024;
    background-color: #85E024;
    color: white;
    width: 16%;
    /* height: 6vh; */
    border-radius: 13px;
    /* box-shadow: 0 0 25px 0 black; */
    margin-left: 2em;
    /* margin-top: 2em; */
    
    padding-left: 40px;
    /* padding-top: -2px; */
    /* padding-bottom: 4px; */

}
.logo a{
    text-decoration: none;
    color: white;
    /* margin-top: -3px; */
    padding-bottom: 4px;

}
.head3{
    margin-left: 1em;
    text-align: justify;
}
.head3_txt{
    margin-left: 2em;
    text-align: justify;
    font-size: large;
}
.first{
    display: flex;
    margin-left: 260px;
    margin-top: 20px;
}
.head1{
    margin-top: 97px;
    color: #4597F5;
    font-weight: 100;
    font-size: 57px;

}
.head1_txt{
    font-size: 17.7px;
    font-weight: bold;
    color: #4597F5;
}

.bg{
    margin-left: 50px;
    height: auto;
}

.connect{
    text-align: center;
    margin-left: -10em;  
    margin-top: 1px;
}
.explain{
    display: flex;
    align-items: center;
    margin-top: 150px;
    border-radius: 20px;
    width: 80%;
    margin-left: 140px;
    box-shadow: 0.1px 0.1px 4px 1.5px  rgba(146, 127, 127, 0.35);;
}
#pic{
    border-radius: 20px;
}
.head2{
    margin-left: 1em;
    text-align: justify;
}
.head2_txt{
    margin-left: 2em;
    text-align: justify;
}
.promote{
    
    margin-top: 7em;
    border: solid 1px#4597F5;
    box-shadow: 0 0 10px 0 black;
    margin-bottom: 7em;
    padding-bottom: 5em;
    padding-top: 5em;
    border-radius: 20px;
}
.start{

    text-align: center;
    display: inline-block;
    color: #4597F5;
    /* margin-bottom: -1em; */
    /* border: solid aqua; */
    /* border-radius: 20px; */
    /* float: inline-end; */
    /* margin-bottom: -1em; */
    /* border-bottom-left-radius: 20px; */
    /* border-top-right-radius: 20px; */
    margin-left: 300px;
    /* background-color: aqua; */
    width: 35%;
}
.register{
    border: solid 1px#4597F5;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 10px 0 black;
    float: center;
    /* padding-top: 20em; */
    padding-bottom: 4em;
    /* border-radius: 20px; */
    margin-bottom: 0%;


}

.customer{ 
    color: #000;
    display: inline-block;
    border: solid 1px #000000;
    width: 30%;
    /* float: left; */
    text-align: center;
    /* padding-bottom: 80px; */
    /* margin-top: 100px; */
    /* padding-top: 7em;  */
    margin-left: 8em; 
    padding-right: 1em; 
    padding-left: 1em;
    padding-top: 3em;
    padding-bottom: 4em;
    /* padding-bottom: 50px;  */
    border-radius: 20px;
    /* box-shadow: 0 0 10px 0 black;  */

} 

.service_provider{ 
    color: #000;
    display: inline-block;
    border: solid 1px #000000; 
    width: 30%; 
    text-align: center; 
    /* float: right;  */
    /* margin-bottom: 70px;  */
    /* margin-top: 20px;  */
    margin-right: 8em; 
    /* padding-top: 6em;  */
    padding-left: 1em; 
    padding-right: 1em; 
    padding-top: 2em;
    padding-bottom: 4em;
    border-radius: 20px; 
    /* box-shadow: 0 0 10px 0 black; */
}

.or{ 

    display: inline-block;
    margin-top: 120px;
    color: #4597F5;
    /* padding-bottom: 4em; */
 } 
.fn{ 
    text-align: center;
    /* display: flex; */
    /* margin-top: 180px; */
    /* margin-top: -1em; */
    margin-bottom: 0%;
    margin-top: 4em;
    text-decoration: none;
}
.cbtn{
    /* padding: 8px;  */
    /* text-align: center; */
    display: flex;
    /* margin-top: -6em; */
    border-color: #85E024;
    border-radius: 13px;
    background-color:#85E024;
    margin-top: 60px;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 40px;
    /* padding-right: 20px; */
    text-decoration: none;
    /* box-shadow: 0 0 5px 0 black; */
    color: white;


}
.cbtn a {
    text-decoration: none; 
    color: white;
}
.spbtn{
    /* padding: 8px; */
    display: flex;
    margin-top: 60px;
    margin-left: 3em;
    margin-right: 3em;
    border-color: #85E024;
    border-radius: 13px;
    background-color: #85E024;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 40px;
    /* padding-left: 1.5em; */
    /* padding-right: 1.5em; */
    /* box-shadow: 0 0 5px 0 black; */
    color: white;

    /* margin-bottom: 5em; */
}
.spbtn a {
    text-decoration: none; 
    text-align: center;
    color: white;
}
#lets-start{
    display: flex;
}
.formbox {
    width: 320px;
    height: 400px 320px;
    background-color: white;
    color: #000;
    margin-top: 100px;
    margin-left: 500px;
    transform: translate(-40,-50);
    padding: 70px 30px;
    border: 1px solid #4597F5;
    border-radius: 10px;
    padding-top: 2%; 
    box-shadow: 2px 0px 7px 0px black;
}
.formbox > h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background-color: #85E024;
    padding: 1px;
    margin: 30px;
    border-radius: 10px;
    font-size: 20px;
    top: 20%;
    
}
.formbox p{
    margin: 0;
    border: 0px;
    padding: 0;
}
.formbox input{
    width: 100%;
    margin-bottom: 20px;
}
.formbox input[type="text"], input[type="password"] {
    border:  1px solid #4597F5;
    padding: 7px;
    margin: 7px;
    outline: none;
    height: 30px;
    border-radius: 10px ;
}
.formbox input[type="submit"] {
    color: rgb(0, 0, 0);
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #4597F5;
    right: 1px;
    width: 70px;
    height: 20px;
    left: 70%;
    bottom: 2%;
}



